<div class="main-header">
  <div class="left-header">
    <div class="group-title">
     hogehuge
    </div>
  </div>
  <div class="right-header">
    <div class="chat-close">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-space">
  <div class="messege"> 
   <div class="upper-message">
     <div class="chat-name">
     Tom
     </div>
     <div class="chat-date">
     2021/11/30(Tue) 11:11
     </div>
   </div> 
   <div class="lower-message">
     <div class="chat-message">
     おはよう
     </div>
   </div>
  </div>

  <div class="messege"> 
   <div class="upper-message">
     <div class="chat-name">
     Sin
     </div>
     <div class="chat-date">
     2021/11/30(Tue) 11:11
     </div>
   </div> 
   <div class="lower-message">
     <div class="chat-message">
     こんにちわ
     </div>
   </div>
  </div>
</div>

<div class="main-bottom">
  <div class="form-input">
     <input placeholder="type a messege" class="form-text">
      <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div> 
  <input type="submit" value="送信" class="form-submit">
</div>